.peg {
  height: 100%;
  width: 100%;
  background: red;
  border-radius: 50%;
  border-color: black;
  border-style: solid;
  border-width: medium;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
}

.wrapper {
  height: 90%;
  width: 90%;
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
