.peg {
  height: 100%;
  width: 100%;
  background: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  height: 90%;
  width: 90%;
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
