.registration {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

.registration > div {
  height: 60%;
  width: 300px;
  border-style: solid;
  border-width: medium;
  border-color: #97b2e7;
  border-radius: 10px;
  background: gray;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.registration > div > h2 {
  font-size: 38px;
  font-weight: bolder;
}

.registration > div > button {
  height: 45px;
  width: 120px;
  font-size: 24px;
  font-weight: bold;
  background: #97b2e7;
  outline-style: solid;
  outline-width: thin;
  border-color: #97b2e7;
}
